.ForwordInfobox{
    position: absolute;
    bottom: 5vh;
    left: 0;
    width: 80vw;
    height: 7vw;
    padding: 2vw 10vw;
    background-image: url("../../../assets/images/DialogBox.png");
    background-size:  100vw 11vw;
    animation: box_come 0.7s;
}
.click_icon_ForwordInfo{
    position: absolute;
    bottom: 5vh;
    right: 10vw;
    font-size: 2vw;
    font-weight: bold;
    animation: breath 1s linear infinite;
}
@keyframes breath{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}
@keyframes box_come {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
