.Dilogbox{
    width: 64vw;
    height: 28vh;
    position: absolute;
    left: 20vw;
    bottom: 3vh;
    border-radius: 0 0 6vh 6vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Dilogcontentbox{
    width: 50vw;
    font-size: 2vw;
}
.DilogAvatar{
    width: 7vw;height: 3vw;
    padding-top: 1vw;
    position: absolute;
    top: -4vw;
    background-color: #161620;
    border-radius: 2vw 2vw 0 0;
    color: #FFFFFF;
    font-size: 2vw;
    text-align: center;
}
.Dilog_character{
    background-size: 17vw 30vw;
    width: 17vw;
    height: 30vw;
    position: absolute;
    top: -30vw;
    right: 0;
}
.teamate_character{
    left: 0;
    transform: scaleX(-1); /* 水平翻转 */
    filter: brightness(0.1); /* 变暗（亮度减少） */
}
.click_icon{
    width: 3vw;
    height: 2vh;
    position: absolute;
    bottom: 4vh;
    right: 2vw;
    animation: breath 1s linear infinite;
}
@keyframes breath{
    0%{
    opacity: 1;
    }
    50%{
    opacity: 0.3;
    }
    100%{
    opacity: 1;
    }
}
