.scroll-container_menu{
    position: absolute;
    top: 22vh;
    left: 5vw;
    display: flex;
    flex-direction: row;
    width: 90vw; // 视图的宽度
    height: 60vh;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .scroll-item {
    display: inline-block;
    width: 18vw;
    height: 30vw; // 元素高度
    line-height: 100px;
    text-align: center;
    transition: transform 0.3s, opacity 0.3s; // 添加平滑的过渡效果
  }
  